<div>
  {{#each posts as |post|}}
    <div>
      <h1>{{post.subject}}</h1>
      <h2>{{post.message}}</h2>
      <h2>Post made by: {{post.user.name}}</h2>
    </div>

    {{#if post.isUsersPost}}
      <div class="post-list">
        <button
          class="btn btn-primary"
          data-id="{{post.id}}"
          type="click"
        >Delete</button>
      </div>
      {{else}}
        <div class="post-list"></div>
    {{/if}}

  {{/each}}
</div>

  <script src="js/delPost.js"></script>
<div>loggedin</div>
